*{
    margin: 0;
    padding:0;
    position: relative;
    box-sizing: border-box;
    transition: all.2s linear;
    border: none;
    text-decoration: none;
    
    
}
html {
    font-size: 90%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px  8%;
    height: 10vh;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    
}
header .logo {
    color: palevioletred;
    font-size: 25px;
    font-weight: bold;
}
header .logo p {
    text-shadow: 1px 1px 4px #aff;
}
header .logo span {
    color: black;
    text-shadow: 1px 1px 4px #aff;
}
.menu {
    display: flex;
    
}
.menu li {
    list-style-type: none;
    margin: 0 15px;
    
} 
.menu li a {
    font-size: 14px;
    color: black;
    font-weight: 300;
    transition: 0.2s;
}
.menu li a:hover {
    color: brown;
}
header button {
    background-color: red;
    cursor: pointer;
    color: white;
    padding: 5px 25px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
   
    padding-top: 10%;
}
.container{
   
    margin: auto;
    margin-top: 20px;
    /* border: 3px solid black; */
}
.col-md-, .col-lg-4{
    margin-bottom: 20px;
}
.sty{
    font-size: 18px;
    color: black;
}
.num{
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}
.uk-border-circle{
    width: 100px;
    height: 100px;
}
.fa-cart-arrow-down{
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding-left: 20px;
}
#clipart{
    width: 30px;
    height: 20px;
}
footer{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}
.btn{
    color: white;
    background-color: royalblue;
    border-radius: 3px;
}